[2013-04-11 18:40] mikelehen opened #1 "Add auth support."
It would be nice if you could call .auth(TOKEN) and then the library would automatically append ?auth=TOKEN to requests.

See http://stackoverflow.com/questions/15953505/firebase-php-curl-authentication/15953974?noredirect=1#comment22739037_15953974

[2013-05-15 22:18] #1 closed, assigned to nobody

[2013-09-26 16:23] pipiscrew opened #4 "SimpleLogin support(?)"
Currently I have implemented your library with user.token, but won't the token expire soon? How can I make sure that I always have a valid token?

[2013-10-02 02:07] limker opened #5 "Not working on my server"
Hey,

When i run the firebaseTest.php on my remote server (Free Web Hosting BIZ.NF) it doesn't work. I debugged the script, and it does stablish a connection with firebase succesfully but the push/read/update methods don't work.

Whilst on my local server, the script works like a charm.

Could it be something wrong with my remote server?

[2013-10-22 12:56] #4 closed, assigned to nobody

[2013-12-13 20:24] clouddueling opened #6 "Add a composer.json to use with Packagist and Composer"
https://packagist.org

[2014-07-29 01:34] walgitrus opened #13 "License"
What is the license for firebase-php?

[2014-08-05 02:59] #6 closed, assigned to nobody

[2014-08-05 03:00] #5 closed, assigned to nobody

[2014-10-08 04:42] kijin opened #14 "Why not take advantage of Keep-Alive?"
`firebase-php` promptly closes the curl handle after each request, making it impossible to take advantage of the underlying protocol's Keep-Alive capability. Since all Firebase API requests use SSL, using Keep-Alive would save a massive amount of time and resources (SSL handshake in addition to TCP handshake) when multiple requests are made in quick succession.

Enabling Keep-Alive with PHP curl i

[2014-10-28 08:14] #13 closed, assigned to nobody

[2014-11-27 11:39] tems99 opened #17 "Install through composer"
Hi,

I tried using your library and added it to my zf2 application using composer.
I added this line to my composer.json file

"ktamas77/firebase-php": "dev-master"

The library was successfully added to my zf2 application, but I can't call the Firebase class in the code.
I tried the following
$fb = new Firebase($url, $token);
$fb = new \Firebase($url, $token);

Sorry for the newbie question, but

[2015-02-02 09:41] solyoung opened #19 "_getJsonPath function doesn't allow query strings"
The Firebase API offers orderBy and advanced query options. The _getJsonPath function currently appends ".json" to the end of the path without regard to the $path. This should be corrected so that query strings can be passed in the $path.

I may fork and solve, but at least wanted the issue reported in case I don't get back here.

[2015-02-28 04:53] llbbl commented on #17
this also works:
require 'vendor/ktamas77/firebase-php/firebaseLib.php';

not the best solution

[2015-03-01 07:16] ktamas77 commented on #17
This issue is fixed with the latest update: https://github.com/ktamas77/firebase-php/pull/21
Thank you for your suggestions and comments.

[2015-03-01 07:16] #17 closed

[2015-03-04 22:08] reedgz opened #22 "Error in README.md document"
I tried to use the library as README.md, PHP can never load class "Firebase".
It turns out that there is no "Firebase" class.   I don't know how the other guys could even load it.

This one worked.

[code]

This one does not work

[code]

[2015-03-05 21:29] markdrake commented on #19
I'm having the same issue as solyoung. I wanted to use the query options but as you hard code the auth variable as the only query param available you make it impossible to use this without modification. I know it's a very simple wrapper but a more dynamic params approach would be ideal.

[2015-03-26 05:49] lawlessmedia commented on #22
I had the same issue. Changing the class name per reedgz's example got it working for me as well.

[2015-04-03 07:03] koppelaar opened #24 "The actual Firebase class seems to be missing?"
I'm probably an idiot for asking this, but when running the example I get this:

*Fatal error: Class 'Firebase' not found in (.....)/firebase-php/index.php on line 8*

The code I'm using is this:

    <?php
    require 'autoload.php';

    const DEFAULT_URL = 'https://xxxx.firebaseio.com';
    const DEFAULT_TOKEN = 'yyyy';
    const DEFAULT_PATH = '';

    $firebase = new Firebase(DEFAULT_URL, DEF

[2015-05-05 14:57] jjok commented on #24
It seems to be called `FirebaseLib` now.

[2015-05-05 14:57] jjok commented on #24
The README needs updating.

[2015-05-05 15:38] jjok commented on #24
Duplicate of #22.

[2015-05-08 01:59] ktamas77 commented on #24
Readme is updated, it should be straightforward now. Thank you for your note.

[2015-05-08 01:59] #24 closed

[2015-05-08 01:59] ktamas77 commented on #22
This is fixed, thank you for your comment.

[2015-05-08 01:59] #22 closed

[2015-05-08 02:01] ktamas77 commented on #19
Thank you for your suggestion, this is a very important feature. I marked it as a todo.

[2015-05-08 02:10] ktamas77 commented on #14
I agree, it's a nice improvement, please see my comment on https://github.com/ktamas77/firebase-php/pull/15 and https://github.com/ktamas77/firebase-php/pull/16

[2015-05-08 02:10] #14 closed

[2015-06-06 03:17] reedgz commented on #19
I would love to see this feature as well.  Then we can use shallow copy and other query options.
`'https://samplechat.firebaseio-demo.com/.json?shallow=true'`

[2015-08-17 21:39] saffabook opened #26 "php not working on remote server"
Hi

This might seem a stupid question but I am really stumped.

I have the code on my local server and it works fantastically. The local writes out to firebase, my app picks it up nicely etc. Works as expected.

However, when I upload it to my remote server, which is an exact mirror, it all seems to break. In my error logs it says
PHP Fatal error:  Class 'Firebase\\FirebaseLib' not found in.....

[2015-08-18 12:31] saffabook commented on #26
Hi I found the error, it is case sensitive issue, the files in the source needed to start with Caps for unix setup.

[2015-08-18 12:31] #26 closed

[2015-10-18 16:51] solyoung commented on #19
Here's a suggestion that would allow query functionality to get through that function (it's how I have the code modified in the meantime):
    private function _getJsonPath($path)
    {
        $url = $this->_baseURI;
        $path = ltrim($path, '/');
        $qaToken = (strpos($path, '?') == FALSE) ? '?' : '&';
        $auth = ($this->_token == '') ? '' : $qaToken . 'auth=' . $this->_token;

[2015-12-06 08:44] bangank36 opened #31 "Can't use Query string with get method"
Hi,
I've used the "get" method to retrieve query data, but it seem didn't work, the error is:
{ "error" : "Constraint index field must be a JSON primitive" }
Pls note that if I put the URL on address bar, I still can get the matched data
https://goldenmuse.firebaseio.com/user.json?orderBy="email"&startAt="ba@gmail.com"&endAt="ba@gmail.com"
Could anyone help me resolve this?
Thanks.

Related issue:

[2015-12-23 05:27] jbagaresgaray opened #32 "Email and Password Authentication"
Is this currently supported on the library https://www.firebase.com/docs/android/guide/login/password.html ?

[2016-01-29 17:22] zivoradmilekic opened #34 "Too Sloooooow"
Hi guys. I tried really everything, but it still slow. I even implemented "use one curl for all quests" but it still slow. I have ten quests and I wait for page 7sec. which is too much. Please help, I need to finish project.

[2016-02-04 08:14] askinner2004 commented on #19
I modified the firebaseLib.php file with the following lines to add some query functionality:
...
private $_options;
...
public function setOptions($options = NULL)
	{
		if($options !== NULL)
		{
			foreach($options as $f => $v)
			{
				$new_options[$f] = '"' . $v . '"';
			}
		} else {
			$new_options = $options;
		}
		$this->_options = $new_options;
	}
...
    private function _getJsonPath($pat

[2016-02-18 09:42] hunkim opened #36 "Order by"
Can we get array using order by?

[2016-03-01 03:17] julian-rare commented on #32
I need this too :( whats the REST call that android makes?

[2016-03-08 11:17] alexsup commented on #34
It's hard to say unless you share your data structure.

Firebase response times are 99% linear to the number of bytes you read/write.

[2016-03-14 05:57] yankustefan opened #38 "How to use print=silent"
How do I properly use print=silent?

I wan't to make sure connections are immediately closed.
Or, how to make sure a connection is closed?

See:
[Improving Write Performance](https://www.firebase.com/docs/rest/guide/saving-data.html#section-rest-write-performance)

[2016-04-11 20:32] francesco98 opened #39 "How can I get the user authentication data?"
I can easily read or write data, but what about user authentication data?

[2016-04-13 04:58] bar9 opened #40 "authentication by JWT token"
Authentication by JWT would be desirable:
https://www.firebase.com/docs/rest/guide/user-auth.html#section-authenticating-servers

We are creating a client for Haskell, where we just are on the same thing:
https://github.com/sphaso/firebase-haskell-client

I would be happy to be assigned to that.

[2016-04-14 15:06] alexsup commented on #39
Can you expand on what you mean by user authentication data?

This client is for basic Firebase interactions. There are a number of pull requests to improve this but this repo isn't maintained.

[2016-04-27 16:49] #40 closed

[2016-04-29 12:54] mart92 opened #41 "Is there a way to simulate a transaction?"
Hi everyone, I'm searching for a way to simulate a transaction with Rest API. I seen that with this module there's no way to do it. What's the best way to simulate it? Thanks in advance! P.S. I'm sorry for my bad english.

[2016-05-20 03:46] kevin1193 opened #42 "New firebase authentication"
Firebase created a new authentication putting only the secret key returns "Cannot parse token". Now this module only works in public firebase database. Kindly help to resolve this issue.

[2016-05-20 09:14] kevin1193 commented on #42
I think this is resolved already. Just use the database secret instead of token.

[2016-05-20 09:14] #42 closed

[2016-05-20 22:40] xero88 commented on #36
same question

[2016-06-14 05:50] ktamas77 commented on #38
Query parameters are supported in version v2.1.0

https://github.com/ktamas77/firebase-php/releases/tag/v2.1.0

you can use

`$value = $firebase->get($path, array('print' => 'silent'));`

[2016-06-14 05:50] #38 closed

[2016-06-14 05:50] ktamas77 commented on #36
Query parameters are supported by version v2.1.0

https://github.com/ktamas77/firebase-php/releases/tag/v2.1.0

[2016-06-14 05:50] #36 closed

[2016-06-14 05:51] ktamas77 commented on #19
Query parameters are supported in version v2.1.0

https://github.com/ktamas77/firebase-php/releases/tag/v2.1.0

[2016-06-14 05:51] #19 closed

[2016-06-14 05:52] ktamas77 commented on #31
Query strings are now supported in v2.1.0

https://github.com/ktamas77/firebase-php/releases/tag/v2.1.0

[2016-06-14 05:52] #31 closed

[2016-06-14 05:53] ktamas77 commented on #39
@francesco98 could you please elaborate?

[2016-06-14 17:32] mitjarobic commented on #42
I am using the database secret and i get the error:

"""
{\n
  "error" : "Could not parse auth token."\n
}\n
"""

Does it still work for you?

[2016-06-14 19:25] ktamas77 commented on #34
@zivoradmilekic could you please elaborate, share more details with us?

[2016-06-14 20:01] #34 closed

[2016-06-14 20:02] ktamas77 commented on #41
The firebase REST api currently doesn't supports transactions:
https://github.com/ozgur/python-firebase/issues/20

[2016-06-14 20:02] #41 closed

[2016-06-14 20:03] ktamas77 commented on #32
@jbagaresgaray @julian-rare can you please elaborate on this?

[2016-06-15 23:48] julian-rare commented on #32
how to login using the rest api?

[2016-06-20 17:37] foxted commented on #42
Still getting this error as well:

[code]

Any tips?

[2016-06-21 21:04] gbittmann commented on #39
I think he might be asking what I'm about to ask.

Can you validate a JWT token from the javascript client with this project? People who were using gitkit for authentication are now going to be using Firebase authentication so this should come up a lot.

Basically a php variation of the functionality provided currently in the Java and Node SDKs.

https://firebase.google.com/docs/auth/server#verify

[2016-06-23 15:43] myuseringithub opened #44 "Request: Can You update it to use the latest Firebase SDK 3 ?"
Thanks

[2016-06-29 07:24] ktamas77 commented on #44
The REST API seems to be unchanged. Please correct me if i'm wrong.

[2016-06-29 07:28] ktamas77 commented on #32
you need to generate a token using your secret key and this library:
https://github.com/firebase/firebase-token-generator-php

[2016-07-05 19:28] #44 closed

[2016-07-07 15:34] WilliamCampolina commented on #31
Good afternoon, I downloaded the version 'v2.1.0' and continued giving the same message, could you help me?

[2016-07-10 14:43] tiagojlara commented on #39
+1

[2016-07-11 04:35] richdho commented on #42
@mitjarobic @foxted @kevin1193
You might use a wrong secret. Please make sure that you got it from the right place:
It is in the `project setting` -> `database` tab
http://stackoverflow.com/a/37418932

[2016-07-18 23:45] vdomah commented on #32
Hello!
firebase-token-generator-php generates JWT token. I'm trying to pass it as DEFAULT_TOKEN but getting "Failed to validate MAC" error. Tried to use https://github.com/firebase/php-jwt lib but don't see what to pass as token still.
Can you make more precise instruction please? Seems to be simple but I'm tired to be stuck on that.

[2016-07-19 13:02] sintret opened #45 "How to check existing data?"
How to check existing data in specific location ?

[2016-07-20 08:08] anhnt0212 opened #46 "How to create DEFAULT_TOKEN"
Hello guys.
How do I get DEFAULT_TOKEN configuration ?

[2016-07-21 12:09] arturschaefer opened #47 "Firebase->get() with void information"
Hi, guys.
I have a dictionary inside the Firebase.
Sometimes I want the information and, it returned a _NULL_ data, even in cases where the information exists in database.
To solve this problem I used an ugly solution:  a loop with 3 repetitions searching the information, and a condition when while the variable still empty, then do the loop.

My main question is: there is a **better** way to do th

[2016-08-05 17:24] absemetov commented on #1
I have some error { "error" : "Could not parse auth token." }

[2016-08-05 19:58] absemetov opened #49 "push() return text"
Why when push data, class return txt?

[2016-08-09 10:37] greabock commented on #32
@vdomah have same problem. You found solution?

[2016-08-09 10:40] greabock commented on #46
@anhnt0212  same problem. Have you any solution?

[2016-08-09 21:43] vdomah commented on #32
@greabock I ended using eelkevdbos/firebase-php package because it was used in elsangedy/laravel-firebase. Works without problem.

[2016-08-10 17:07] jterry opened #50 "Certificate verification set to false"
`CURLOPT_SSL_VERIFYPEER` should never be set to `false` in any production environment; I'd suggest just flipping the `false` to `true` here:

https://github.com/ktamas77/firebase-php/blob/master/src/firebaseLib.php#L227

[2016-08-11 00:14] taykay08 commented on #47
I think I'm having the same issue.  Every once in a while(rarely, but noticeably) when I fetch data I see the curl error "Empty reply from server".  I also see this issue popping up while attempting to update data.  For now I'll use a loop like you, but hoping someone knows of a better solution.  I actually tried to increase the timeout to 100 but it didn't seem to resolve the issue.

[2016-08-16 15:38] dungphanxuan opened #51 "Server error (400) for URL"
Push data so has error
![screenshot_1](https://cloud.githubusercontent.com/assets/10725732/17705342/362c9672-6402-11e6-9b15-913e9673b91b.png)

How can i fix it. thank

[2016-08-16 15:56] #51 closed

[2016-08-20 13:11] parthjdabhi opened #52 "generate custom token"
can i make custom token through this library, if yes how ?

Thank you!

[2016-08-21 23:10] yass8n opened #53 "Entire firebase deleted if you set any path to -1. PLEASE SEE"
https://youtu.be/P6NMtnfn2ss

[2016-08-22 11:18] parthjdabhi commented on #46
@ktamas77 @llbbl @brianpilati  @craigrusso can you help ?

[2016-08-22 11:18] parthjdabhi commented on #52
@ktamas77 @llbbl @brianpilati  @craigrusso

[2016-08-24 04:15] anhnt0212 commented on #46
@greabock  i don't have :(

[2016-08-24 09:59] anhnt0212 commented on #46
Can you help me ?

On Mon, Aug 22, 2016 at 6:18 PM, Parth Dabhi (iOS & Android developer) <
notifications@github.com> wrote:

[2016-08-24 11:18] skizzo commented on #46
Chin up champs, in your firebase console, just go to the **project settings**, then to the tab **database** and then **copy the secret key**. Worked like a charm for me!

![firebasephpdefaulttoken](https://cloud.githubusercontent.com/assets/2892572/17928830/0ac038bc-69fd-11e6-8b4d-b7492edc6235.jpg)

[2016-08-24 12:05] skizzo opened #54 "Check if a token is valid"
It would be great if there was a simple way to check if a token is valid for entering data at a specific path. Is there a workaround to achieve this?

[2016-08-26 07:29] anhnt0212 commented on #46
@skizzo tks a lot.let me check again :D

[2016-09-18 14:53] jonmalave commented on #39
Any plans to add user authentication?

[2016-09-18 16:48] jonmalave commented on #53
Wow! Scary... thanks for sharing @yass8n! Hope there is a fix for this...

[2016-09-27 10:18] Bikesh-tricon commented on #42
thanks @richdho it is working now

[2016-10-08 15:30] barbax opened #55 "SET Data fails fot large amount of data in case of single $firebase object"
We are testing $firebase->set() for a large amount of data.
The scenario could be replicated in php with this snippet:

When the amount of data is very big and cycle iterate after some seconds the $firebase->set() will fail. It will return a 502 Bad Gateway response in the firt place and then CURL will stop working with this error:
`Call to URLFetch failed with application error 1 (URL using bad/i

[2016-10-10 07:01] anhnt0212 commented on #54
Hi @skizzo  What do you want to do?

[2016-10-14 13:42] Slessi commented on #54
@anhnt0212 Probably [this](https://firebase.google.com/docs/auth/server/verify-id-tokens#verify_id_tokens_using_a_third-party_jwt_library)

[2016-10-18 16:59] martisj commented on #46
Does this database secret override all the security rules defined?

[2016-10-19 04:03] anhnt0212 commented on #46
@martisj i think it no

[2016-10-20 04:39] joseSantacruz commented on #31
I have the same error usin exactly emails on startat and endat

[2016-10-24 13:53] edesilets commented on #52
@parthjdabhi  I am 80% sure you can not make custom tokens through this package. This link
[FireBase Create Custom Tokens](https://firebase.google.com/docs/auth/server/create-custom-tokens) will help point you in the right direction. [FireBase Token Generator for PHP](https://github.com/firebase/firebase-token-generator-php)

Personally on my project I ran out of time and had to hack my project, b

[2016-11-05 10:44] Fayozjon opened #56 "Some tips needed on updating foreach loop"
Hi there!
Can you suggest me i want to update

[code]

[2016-11-06 14:04] codemonkeynorth commented on #46
I believe this is deprecated now? Or am i lookng at the wrong thing?

![image](https://cloud.githubusercontent.com/assets/20189985/20038341/db627834-a429-11e6-9efd-7e5de4c83413.png)

[2016-11-06 15:42] codemonkeynorth opened #57 "database secrets are deprecated (implement Service Account authentication?)"
database secrets are deprecated now..
![image](https://cloud.githubusercontent.com/assets/20189985/20038341/db627834-a429-11e6-9efd-7e5de4c83413.png)

would it be possible to implement authentication via the new Service Account json file?

this library uses it, but is heavily reliant on guzzle which has issues under Google Cloud SDK shell
https://github.com/kreait/firebase-php

thanks
j

[2016-11-12 04:54] gursimranp commented on #57
Would be great to have this implementation

[2016-11-24 16:28] DavG commented on #57
+1

[2016-11-25 02:07] ithoangphuc opened #58 "How can i add order by and equalTo"
I use firebase-php of ktamas77. I try to get data with orderBy => 'data_id' (child) and equal to 'Test' but it report

`$test = $initFirebase->get('/notification',array('orderBy' => 'data_id', 'equalTo' => 220));`

[2016-11-28 05:09] gayanpathirage commented on #57
+1
We urgently require this, please do the needful as JWT based authentication is cumbersome for regular developer

[2016-11-29 11:08] appdezign commented on #57
+1

[2016-12-01 14:11] et-taousy opened #59 "recv() failed (104: Connection reset by peer"
when i want to test just example code i get this issue.
**recv() failed (104: Connection reset by
peer**

[2016-12-04 08:00] VMitin commented on #58
Hey.  You must paste the data_id in the double quotes.
My examlpe:
`$fireBase->get(PUSH_PATH, array('orderBy' => '"status"', 'equalTo' => PENDING)`

And don't forget put the
`".indexOn" : "status"`
on the firebase rules

[2016-12-11 14:10] quocthinh212 commented on #46
![token](https://cloud.githubusercontent.com/assets/14103334/21080624/2f69e4c6-bfe6-11e6-9431-8732c32aa5ab.png)

[2016-12-12 01:26] codemonkeynorth commented on #46
yes the secret still works but it is deprecated. you ought to be using Service Accounts now but this library does not yet support it

v1.x/2.x Firebase JWT token's  that @anhnt0212 is using are not the same as the secret.

you could try kreait's version instead, which supports the Service Accounts used by v3.x firebase

having looked at that codebase, it's not  simple so it's no small task that we

[2016-12-12 01:36] codemonkeynorth commented on #46
ps if you use REST to access Firebase .json I believe authentication works in either of the following ways

...something.json?auth={secret} // DEFAULT_TOKEN in ktamas77's docs
...something.json?auth={JWT}
...something.json?access_token={v3_service_account_oauth_token_etc}

I believe the middle one is what the token generator library you are using provides @anhnt0212

as you can see the token is pa

[2016-12-23 18:51] #58 closed

[2016-12-28 20:28] huuson235 opened #60 ""limit" options"
limit options in GET-method seem not working. I tried:
[code]
Everything is not different.

[2016-12-28 20:30] huuson235 commented on #60
Oop! I tried with 'limitToFirst' and 'limitToLast', both of them are OK. Close this issue.

[2016-12-28 20:45] #60 closed

[2017-01-04 02:47] alanscarpa commented on #57
+1 for this. @ktamas77 is this something you plan on working on? Thanks for the great lib!

[2017-01-20 04:54] mahayasa opened #61 "try on ubuntu 12.04"
is the platform is working on ubuntu 12:04?

because i try using ubuntu server 12.04 its not working, even though i try on my mac is work well

thanks

[2017-01-20 05:02] #61 closed

[2017-01-26 19:11] marcoas opened #62 "Delete Array of References"
(Translated by Google)

I think it would be useful, to be able to establish an Array of references, to the method DELETE, to be able to eliminate many places, with a single call

[code]
or

[code]

[2017-02-04 14:04] ruudboon commented on #39
+1

[2017-02-07 01:32] ktamas77 commented on #62
I was trying to keep the implementation as simple as possible to support the basic functions of firebase. Your request could be easily implemented this way:

[code]

you can also easily extend the current Firebase class and add helper functions for this specific use case.

[2017-02-07 01:32] #62 closed

[2017-02-15 14:09] Aurelloid commented on #57
+1

[2017-02-26 13:35] maxfagotto commented on #57
+1

[2017-02-27 19:32] Mogball opened #64 "Cannot filter using equalTo/endAt/startAt with strings"
Trying to do $database->ref('some/path')->orderByChild('childname').equalTo('stringvalue')->...

Will throw an error: "Constraint index field must be a JSON primitive".

So it seems strings don't work, but performing the same query in, say, javascript Firebase, is allowed with strings.

[2017-03-06 23:11] x1nixmzeng commented on #57
Ran into this myself. Firebase also seems to also be returning invalid JSON:

    {
       "error" : "Could not parse auth token.
    }

[2017-03-13 02:31] ytianhui commented on #57
+1

[2017-03-13 07:49] andazlan commented on #26
still class not found...

[2017-03-14 10:04] kuldeepcci opened #65 "Get data through php with condition authentication"
Hi,
       Actually i need to apply rules to my app database. And after applying data display as it is with use of the library. For that I use JWT also to generate custom token and get data with that token also. But not working. JWT I get grom here : https://github.com/luciferous/jwt.
        Token generation and signInWithCustomToken process through javascript run successfully. But after that app

[2017-03-27 13:45] mitsBhadeshiya opened #66 "taking more response time to connect with firebase"
Hi @ktamas77  I am using your Library to get data from firebase using PHP  it's good

but here is the problem when I am connected with firebase using library getting 3-4 second document response time in browser network.

Can you please help me to decrease this page response time?

Thanks
-Mits Bhadeshiya

[2017-03-30 09:14] dusko23 commented on #42
Hi kevin1193, mitjarobic
what about this statement.
**Authenticating with a database secret has been officially deprecated since November 2016 and will be removed from this library in Release 3.0.**
[http://firebase-php.readthedocs.io/en/latest/authentication.html]
Using **secret** appears to be of short life time. Building app on **secret** does not feel safe in medium run.
Any other suggestion h

[2017-04-02 22:24] ashishmacherla opened #67 "Trouble with set and update operations"
Hello Katmass77 Team,
I am currently implementing the get,push,update and set operations for my web application, and
encountered the following problems:
1. With push operation I can successfully push the data to the firebase. But, when pushing the data, rather than having a randomkey generated, is there a way to specify my own(customized) key when performing the push operation?
The call to the ope

[2017-04-08 18:21] ivent commented on #42
Hello, I also had problems with the token error with the latest interface of firebase that was resolved when changing through the secret, but there is a big alert saying that it has been discontinued, you could do an update to update this script and do the Login as updated?

[2017-04-09 01:22] jeromegamez commented on #57
@codemonkeynorth Hey, maintainer of kreait/firebase-php here :). Out of curiosity, what are the issues of Guzzle/the Google Cloud SDK you mentioned?

[2017-04-09 06:34] ivent opened #68 "Running too slow"
Hello, the script works very slow to 7 seconds to perform each operation, I know that the response of the firebase is fast so I wonder how it does to improve the response speed performance of the script.

[2017-04-16 20:06] ivent opened #69 "How do I know if get () returned any results?"
Hello, I am getting an error while scanning the field through the foreach when there is no element of the table I wanted to just display there is no element registered, however I can not check the null test on the return of get someone could help me?
[code]

// Not Work not return true or false in If

[2017-04-16 20:08] ivent opened #70 "How to upload image through firebase storage?"
Hello, I would like to know if there is a plan to include uploading images through firebase storage, I had to implement the upload in javascript because of the lack of this resource in the lib but I would like to do it via php is it possible?

[2017-04-19 00:36] JerahmeelAnibor opened #71 "Push Parameters"
Please explain the parameters to pass into the push function?
Thanks.

push($path, $data, $options);

[2017-05-27 10:05] pinkladywithcoco commented on #57
Database secrets are deprecated does it mean they will stop using database secrets??

anyway... implement authentication via the new Service Account json file would be really usefull

any update on this???

+1

[2017-06-08 14:51] diogomachado commented on #57
I need this!!!!!

+1

[2017-06-09 00:49] oswazteca opened #72 "FirebaseLib"
With the following code...
[code]

I am getting the following error:
![screenshot from 2017-06-08 19-41-55](https://user-images.githubusercontent.com/3083165/26956355-98187446-4c82-11e7-9c2f-c3ad8c19f03c.png)

In the composer.json I have:
[code]
I am using CodeIgniter 3 but I think that isn't the problem, any idea what it could be?

[2017-06-15 17:51] gusdevops commented on #39
+1

[2017-06-21 07:07] iit2011081 opened #73 "Git push is removing firebase_php folder."
I have an application in which I installed this library and it was working fine. But when I push my application using git push firebase_php folder gets changed to something. When I go to my bitbucket dasboard it is showing firebase-php → fbfeefe84376 [fbfeefe84376]. I earlier had firebase jwt library so I thought git is getting confused with these two libraries. So I removed firebase jwt library b

[2017-06-28 16:23] gik000 commented on #71
Hi,

the $options eventually will be passed to http_build_query
http://php.net/manual/en/function.http-build-query.php
that build the query string.

$path is the full remote (firebase) path to work on

$data is a data structure that will be passed to firebase database as json.

[2017-08-05 09:28] aghiecool commented on #31
I had to modify "firebaseLib.php" and add these lines:

`
private function _getJsonPath($path)

    {
        $url = $this->_baseURI;
        $path = ltrim($path, '/');
        $auth = ($this->_token == '') ? '' : '?auth=' . $this->_token;

        // The fix ----
        if (strpos($path, ".json") > 0) {
            return $url . $path . '&auth=' . $this->_token;
        }else {
            retur

[2017-08-06 04:20] iprastha commented on #72
Your composer require should be `"ktamas77/firebase-php": "dev-master"`
You are including another PHP firebase library (kreait/firebase-php) instead of this one

[2017-08-07 21:45] dade80vr commented on #67
Following..

[2017-08-19 13:32] mlhoez commented on #57
+1

[2017-09-14 07:23] damithsj commented on #57
Would be great to have this.
Otherwise a comment on an example to where to find the secret will be really useful since it took few hours for me to find out DEFAULT_TOKEN should be the database secret :)

[2017-09-18 17:49] chroda commented on #42
Dudes, go to https://console.firebase.google.com/project/[projectname]/settings/serviceaccounts/databasesecrets

Copy secret.

[2017-10-05 07:42] Meistercoach83 opened #74 "Firestore Usage"
Hi! Is it possible to use this lib with the new firestore db?

[2017-10-14 14:25] DragoTechInnovations commented on #73
Most of the times vendor folder is ignored by git as it is mentioned in `.gitignore`
This is so that you may install the version after cloning the files by running composer install or what ever is applicable.

[2017-10-14 14:35] echosalik opened #75 "Cannot use Database and Auth together"
I m getting this error:
`Fatal error: Cannot use Kreait\Firebase\Http\Auth as Auth because the name is already in use vendor\kreait\firebase-php\src\Firebase\Database.php on line 10`

But it doesn't make sense. The conflict comes from the Auth.php because there is already a Class with name Auth but the namespace is different for both, so it should not matter. Right?

Disabling line 10 on `Database

[2017-10-23 15:29] harding13 opened #76 "Slow query"
Hi all

i'm using firebase-php to make a query against a firebase db where i stored chat data.

the structure is a thing like this

[code]

when i search into a chat (with one or many children) with a code like this
[code]

the query needs almost 700ms to get a result (even if there is only one node)

I think it's too much... or not?

[2017-10-27 07:55] gana549 opened #77 "firebase connection in php"
hi.. i m gana actually i m trying to firebase connection php

i follow the https://firebase-php.readthedocs.io

'; $firebase = (new Factory) ->withServiceAccountAndApiKey($serviceAccount, $apiKey) ->withDatabaseUri('https://my-project.firebaseio.com') ->create(); ?>
but i got an error like

Fatal error: Uncaught Error: Call to undefined method Kreait\Firebase\Factory::withServiceAccountAndApiKey()

[2017-11-09 11:24] ahsankhatri commented on #57
+1

[2017-11-10 20:40] aszabo-ovalet commented on #76
Same here, I'm reading a /records/rec_id/node_id and it takes 300-700ms, however on the firebase profiler, it shows 0ms.

[2017-11-11 00:10] ova-adam commented on #76
Looks to be a CURL issue, here are some stats from when I log with curl:

    time_namelookup:  0.153
      time_connect:  0.161
   time_appconnect:  0.357
  time_pretransfer:  0.357
     time_redirect:  0.000
time_starttransfer:  0.408
                   ----------
        time_total:  0.408

[2017-11-12 09:26] harding13 commented on #76
@ova-adam so there is nothing to do?

[2017-11-12 22:42] ova-adam commented on #76
@harding13  there is, CURL requests are very slow as you can see.  Is this an issue of CURL or FB at the core?

[2017-11-13 07:41] harding13 commented on #76
I see it but i don't know how to solve it :)

[2017-11-13 08:04] ova-adam commented on #76
Is this an issue with this library, firebase, or curl? This long lag doesn't happen if I curl a website like Google.com

If this can't be eliminated, this is a deal breaker for our project.

[2017-11-13 08:08] harding13 commented on #76
I choosed Firebase because of its speed. But if i must wait 0.7 sec for every query, maybe, i must switch to another technology (or another way of using FB)

[2017-12-03 11:48] harding13 commented on #77
you're asking in the wrong place

this is the right one
https://github.com/kreait/firebase-php/issues

[2017-12-05 12:43] thiagopnobre commented on #42
The link https://console.firebase.google.com/project/[projectname]/settings/serviceaccounts/databasesecrets is deprecated now, so this issue needs to be reopened because the new available key does not works with the gem.

[2017-12-07 13:12] thiagopnobre opened #80 "Firebase created a new authentication"
I opened this issue, because the answer for the issue [42](https://github.com/ktamas77/firebase-php/issues/42) is now deprecated.

The problem here is that the databasesecret link (https://console.firebase.google.com/project/[projectname]/settings/serviceaccounts/databasesecrets) is now deprecated. The new key is on the settings and it's not the same of the previous databasesecret.

[2018-01-13 22:35] ramielsabahy opened #81 "how to authenticate user using email and password"
I want to authenticate users with email and password any help please.

[2018-01-25 05:38] salimbutex commented on #68
exact same issue. any ideas?

[2018-01-30 19:43] ivent commented on #68
Hello, I have not made any improvements to my pho code but I still have a delay with regards to the library that needs to be solved. In javascript the updates are so fast that they seem to be instantaneous php should behave the same way or close to that rs

[2018-03-20 13:10] thiagopnobre commented on #80
In fact, I'm using `firebase-ruby` and opened the same issue [there](https://github.com/oscardelben/firebase-ruby/issues/80). I opened this one here, because I saw  the issue [42](https://github.com/ktamas77/firebase-php/issues/42) when I was searching the solution and apparently, it's not solved for the `firebase-php` yet.

[2018-05-22 05:57] #56 closed

[2018-06-13 02:57] hoangsoft90 opened #82 "i got "Permission denied" error"
after a time using this library, it work perfect. But in current time, it show me error: `Permission denied`
thanks!

[2018-06-27 10:40] aslamca opened #83 "firebase query "equalTo" doesn't work with "+" symbol"
Hi,

I am trying to get data by using query,
$leaders = $firebase1->get('/test', ['orderBy' => '"userID"', 'equalTo' =>'"+919888888884"']);
But this gives empty {} as result. I get result if I change "+" with any other symbol on database as well as in query.

Could some one please help me?

[2018-07-04 04:42] aslamca commented on #83
Hi,
I used unicode \u002B instead of +(plus) and now it’s working.

[2018-07-04 04:42] #83 closed

[2018-07-23 16:56] remixer-dec opened #84 "Setting value to 0 (number) is not possible"
When I'm trying to set a value to 0 with
[code]
Firebase returns an error
[code]
And when I send it as a string "0", the value in the database also becomes a string.
For me it's not critical, but I think this is an important thing to notice.

[2018-11-03 21:42] ahmu83 opened #85 "Credentials provided by firebase"
The credentials provided by firebase are in the following manner **`var config = {
  apiKey: "",
  authDomain: "",
  databaseURL: "",
  projectId: "",
  storageBucket: "",
  messagingSenderId: ""
};`** how can I translate them to the constants that are shown in the example (**DEFAULT_URL**, **DEFAULT_TOKEN** & **DEFAULT_PATH**)

[2018-12-22 00:18] ktamas77 commented on #85
DEFAULT_URL = $databaseURL
DEFAULT_PATH = <you can specify a prefix path here or leave it empty>
DEFAULT_TOKEN = apiKey

[2018-12-22 00:18] #85 closed

[2018-12-22 00:19] #81 closed

[2018-12-22 00:20] #82 closed

[2018-12-22 00:20] #80 closed

[2018-12-22 00:20] #77 closed

[2018-12-22 00:21] ktamas77 commented on #84
Thank you, I'll look into this.

[2018-12-22 00:21] #84 closed

[2018-12-22 01:42] #49 closed

[2018-12-22 01:42] #47 closed

[2018-12-22 01:43] ktamas77 commented on #66
Are you still having this problem?

[2018-12-22 01:45] #68 closed

[2018-12-22 01:46] #72 closed

[2018-12-22 01:47] #59 closed

[2018-12-22 01:47] #45 closed

[2018-12-22 01:49] ktamas77 commented on #75
You are using a different library.
To use this library you need to install it with `composer require ktamas77/firebase-php`

[2018-12-22 01:49] #75 closed

[2018-12-22 01:49] #53 closed

[2018-12-22 01:50] #52 closed

[2018-12-22 01:50] #73 closed

[2018-12-22 01:50] ktamas77 commented on #50
This has been fixed.

[2018-12-22 01:50] #50 closed

[2019-01-03 13:33] ChristianSchaefer opened #88 "No logging in firebaseLib"
is it possible to add an logger into the firebaseLib and log the catched exception messages? At the moment, the curl requests in firebaselib are like blackboxes and it's hard to track issues with connection to firebase

[2019-03-08 09:03] xiaomy12 opened #91 "I got 3 arduino devices with same code with same php code using this Lib"

[2019-03-08 09:06] xiaomy12 commented on #91
`<?php
require 'firebaseLib.php';
$Trash = $_GET["trash"];
$Distance = $_GET["distance"];
$Temperature = $_GET["temp_f"];
$Humidity= $_GET["humidity"];
$url = 'https://thesis1-69.firebaseio.com';
$token = 'xxxxxxxxxxxxxxxx';
 $firebasePath = '/thesis1-69/';
$devicestatus= array('Distance' => $Distance,'Temperature' => $Temperature,'Humidity' => $Humidity);
$full= array($Trash => $devicestatus);
$f

[2019-03-11 15:38] xiaomy12 commented on #91
@ktamas77 @llbbl @mintao @MiniCodeMonkey @ChrisThompsonTLDR

[2019-03-11 16:14] ChrisThompsonTLDR commented on #91
I think you mistakenly mentioned me.

[2019-03-12 01:00] xiaomy12 commented on #91
sir do you know how to resolve this issue?
please check my php code

[2019-03-12 11:03] xiaomy12 commented on #91
the library of @ktamas77 was not set to simultaneous request to firebase
I don't know if it was the issue but it was not set to curl_multi_exec

[2019-06-18 02:31] mastef commented on #68
@ivent @selimonline I had some very slow consecutive requests and I don't recall how I resolved them, but try running the requests with :
`curl_setopt($this->_ch, CURLOPT_VERBOSE, true);`
to see where it's hanging.

My getCurlHandler has the following added lines :

[code]

@ktamas77 you might want to consider some of these.

[2019-06-18 02:39] mastef commented on #66
I had 5-7 seconds response times on every request last year as well. Try the solution from https://github.com/ktamas77/firebase-php/issues/68#issuecomment-502921193 - I think it might have been related to the ipv6 lookups, but can't recall.

[2019-06-18 02:43] mastef commented on #76
@ova-adam @harding13 Since your issue the library has been also updated so the curl handle is re-used for consecutive requests, which should reduce your connection times to the firebase server for repeat queries.

A few other things that improved connection times drastically I've mentioned here: https://github.com/ktamas77/firebase-php/issues/68#issuecomment-502921193

[2019-06-18 02:44] mastef commented on #34
@zivoradmilekic might be ipv6 lookups, see https://github.com/ktamas77/firebase-php/issues/68#issuecomment-502921193

[2019-06-18 02:59] mastef commented on #64
@Mogball See https://stackoverflow.com/a/41991196/10728554 or https://github.com/ktamas77/firebase-php/issues/58 about adding quotes around your strings.

[2019-07-02 14:31] priyabratap opened #92 "Getting unexpected error code 0/null/100"
Hi,
Thanks for this great library.

We have added some code `curl_getinfo($ch, CURLINFO_HTTP_CODE)`  to get an exact error code  from firebase. Sometimes, we are getting some unexpected error code 0 / null / 100.

Could you please help me to understand the reason behind such an error code?

Note: As per firebase documentation, it never returns such error code.

[2019-10-18 19:13] Fever905 opened #93 "Composer with php7.3 first time install issue:"
Just downloaded composer for the first time, and trying to install the php-firebase admin panel using:

`composer require kreait/firebase-php ^4.35`

Resulting output:
`Using version ^4.35 for kreait/firebase-php
./composer.json has been created
Loading composer repositories with package information
Updating dependencies (including require-dev)

Installation failed, deleting ./composer.json.

 [Er

[2020-02-14 18:39] jeromegamez commented on #93
@Fever905 This is the wrong repo, you meant to go to https://github.com/kreait/firebase-php :). As for your problem: you're using PHP 5 - the SDK needs PHP 7 to operate.

[2020-04-09 10:19] SmileSoftSr opened #95 "Requirements?"
Are requirements available anywhere? By requirements, I mean:

- minimal PHP version
- can it work without Composer
- can it work on a shared hosting
- is HTTPS mandatory

[2020-05-02 14:02] Saketsuraj commented on #70
@ivent , did you find any solution?

[2020-07-11 16:06] ivent commented on #70
Hi, I haven't used this api in a long time; so, i don't know how to answer, if it resolves, i'm using the same route.

[2020-07-11 16:06] #70 closed

[2020-12-05 18:54] forcequit commented on #64
Adding to @masref

The key value must also be json encoded:

$key =json_encode("206");
$value = $firebase->get($path, array('orderBy' => '"url"', 'equalTo' => $key));

[2021-01-21 11:45] mingzaily opened #100 "How to set the app or version"
![image](https://user-images.githubusercontent.com/44798713/105346720-f7246b00-5c20-11eb-9d00-8c914f002302.png)
How to set the app or version?
![image](https://user-images.githubusercontent.com/44798713/105346832-099ea480-5c21-11eb-8dc1-697981f43b1d.png)
This is my code.
What should I write? Thank you.

[2021-01-22 06:14] #100 closed, assigned to nobody

[2022-04-17 07:31] ghost opened #101 "how to set name in push?"
how to set name in push,example {"name":"gunanggunung"} ?